MDAnalysis
biopython
biotite
dash
deep_gcns_torch
deepchem
deeptools
dgl-lifesci
galaxy
graphormer
hail
jcvi
khmer
molecularnodes
moses
ncbi-genome-download
pennylane
plantcv
proteinnet
pycirclize
pyscf
scanpy
scikit-bio
scispacy
training-collection